<p>
  <a href="{{site.combine_site}}">COMBINE</a>
  is an Australian organisation for students in computational biology,
  bioinformatics, and related fields. COMBINE is the student subcommittee of
  the Australian Bioinformatics And Computational Biology Society (ABACBS) as
  well as the official International Society for Computational Biology (ISCB)
  Regional Student Group (RSG) for Australia. We aim to bring together
  students and early-career researchers from the computational and life
  sciences for networking, collaboration, and professional development.
</p>
<p>
  This workshop teaches the basics of developing an R package. By the end of
  the workshop you should have built your own personal R package to hold
  functions you commonly use. More details about the workshop content are
  provided in the Syllabus section below.
</p>
<p>
  We have tried to keep the cost of the workshop as low as possible with the
  help of our generous sponsors. The registration fee helps us to cover the cost
  of morning tea, lunch and afternoon tea which will be provided on the day.
  Discounted registration is available for students and ABACBS members. An
  ABACBS student membership is only $20 and comes with other benefits including
  discounted registration for the annual COMBINE symposium. More information
  about ABACBS membership can be found on the
  <a href="https://www.abacbs.org/membership-new#join">ABACBS website</a>.
</p>
