<p>
  <a href="{{site.combine_site}}">COMBINE</a>
  is an Australian organisation for students in computational biology,
  bioinformatics, and related fields. COMBINE is the student subcommittee of
  the Australian Bioinformatics And Computational Biology Society (ABACBS) as
  well as the official International Society for Computational Biology (ISCB)
  Regional Student Group (RSG) for Australia. We aim to bring together
  students and early-career researchers from the computational and life
  sciences for networking, collaboration, and professional development.
</p>
<p>
  This workshop teaches the basics of developing an R package. By the end of
  the workshop you should have built your own personal R package to hold
  functions you commonly use. 
</p>
