<div class="row">
  <div class="col-md-12">
    <h3 id="syllabus-shell">R package development</h3>
    <p>
      The materials for this workshop are
      <a href="https://combine-australia.github.io/r-pkg-dev/">available here</a>.
      Some of the topics included in the workshop are:
    </p>
    <ul>
      <li>Setting up a package</li>
      <li>Adding functions</li>
      <li>Running package checks</li>
      <li>Documentation</li>
      <li>Testing</li>
      <li>Dependencies</li>
      <li>Releasing a package</li>
    </ul>
  </div>
</div>
